.contrainer {
  width: 650px;
  position: absolute;
}
input[type="range"] {
  width: 70%;
  -webkit-appearance: none;
  height: 5px;
  position: relative;
  background: rgb(65, 64, 64);
  border-radius: 10px;
  outline: none;
  float: left;
  margin-top: 10px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #2a3de0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  float: left;

}
#Number {
  background: #ffd901;
  height: 30px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  font-size: 20px;
  border-radius: 3px;
  float: left;
  margin: 0 20px;
}
#Number::before{
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-left: 10px solid #ffd901;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    left: 120px;
}