.Profile {
    position: relative;
    float: left;
    margin: 10px 10px;
    width: 200px;
    height: 250px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 20px 20px rgba(0, 0, 0, .2);
}

.Profile>img {
    width: 100%;
    height: 100%;
}

.Profile .ProfileView {
    position: absolute;
    bottom: 20px;
    left: 50%;
    float: left;
    transform: translateX(-50%);
    margin: 0;
    padding: 5px 10px;
    background: rgba(255, 255, 255, 0.288);
    color: #ffffffa8;
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.ProfileDetail {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.863);
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: .5s;
    transform: perspective(500px) scale(0);
}

.ProfileDetail>h2 {
    margin: 0;
    padding: 0;
    color: #607d8b;
    font-size: 18px;
    text-transform: uppercase;
}

.ProfileDetail>h2>span {
    font-size: 14px;
    columns: #ccc;
}

.ProfileDetail>p {
    margin: 0;
    padding: 10px 0 0;
    font-size: 14px;
    color: rgb(114, 105, 105);
}

.ProfileDetail>a {
    background: #00bcd4;
    text-decoration: none;
    color: #fff;
    padding: 8px 50px;
    margin: 10px;
    border-radius: 25px;
    display: -webkit-inline-box;
}

.ProfileDetail>ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.ProfileDetail>ul>li {
    list-style: none;
    font-size: 20px;
    width: 33.3%;
}

.close {
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 10px 0 10px;
    color: rgb(250, 248, 248);
    padding: 3px 2px;
    background-color: #f00;
}

.ProfileDetail ul li:nth-child(1) .fa {
    color: #00bcd4;
}

.ProfileDetail ul li:nth-child(2) .fa {
    color: #00bcd4;
}

.ProfileDetail ul li:nth-child(3) .fa {
    color: #00bcd4;
}

.Profile:hover .ProfileDetail {
    transform: perspective(500px) scale(1);
}

.Profile:hover .ProfileView {
    color: rgba(255, 255, 255, 0.288);
}