*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100hv;
    background: black;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container .box{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.container .box span{
    position: absolute;
    box-sizing: border-box;
   /* border: 2px solid #fff;*/
    border: none;
    background: red;
    border-radius: 50%;
    animation: ani 3s linear infinite;
    animation-delay: calc(0.3s *var(--i));
}
@keyframes ani{
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 600px;
        height:600px;
        opacity: 0;
    }
}