.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 394px;
}

.imageBox {
    position: absolute;
    top: 0;
    left: 0;
}

.imgafter {
    width: 0;
    transition: 2s;
    overflow: hidden;
    border-right: 10px solid #ff0;
}

.container:hover .imgafter {
    width: 100%;
}